---
import StackList from "./StackList.astro";
import SocialPill from "./SocialPill.astro"
import WebIcon from "../icons/Web.astro"
import GithubIcon from "../icons/Github.astro";
const {title, description, stack, image,link, repo} = Astro.props
---

<article class="relative w-full mb-8">
    <div class="absolute top-0 bottom-0 left-0 right-0 w-full z-10 bg-white/70 dark:bg-black/70 flex flex-col justify-center items-center px-10 pt-6 md:h-48 md:flex-row md:justify-beetween md:top-auto rounded-ee-xl rounded-es-xl">
    
        <div>
            <h3 class="text-3xl font-bold mb-2 text-black dark:text-white">{title}</h3>
            <p class="text-black dark:text-white">{description}</p>
            <StackList stack={stack} />
        </div>
        <div class="flex md:grid gap-3">
            <SocialPill href={link}> <WebIcon /> Sitio</SocialPill>
            <SocialPill href={repo}> <GithubIcon /> Repositorio</SocialPill>
        </div>
    </div>
    <img src={image} alt={`Captura de proyecto ${title}`} class="rounded-xl opacity-80 hover:opacity-100 transition">
</article>